body {
    margin: 60px auto;
    width: 50%;
}

header {
    align-items: center;
    text-align: center;
    color: green;
    {

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    align-items: center;
    text-align: center;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    
    display: inline;
    margin-right: 20px;
    align-items: center;
    text-align: center;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
main {
    align-items: center;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; //
}

footer {
    align-items: center;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    align-items: center;
    text-align: center;

}


@media (max-width: 700px) {
    main {
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
    }
}
