body {
    margin: 60px auto;
    width: 40%;
}

header {
    align-items: center;
    text-align: center;
    color: teal;
    {
        
.p3 {
    font-size: 3em;
        }

        
.h3 {
    font-family: Arial, Helvetica, sans-serif;
        }
        
        
        
a {
    text-decoration: none;
    color: #999;
}
        
a:hover {
    text-decoration: underline;
}
        
main {
    
    align-items: center;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; //
}

footer {
    align-items: center;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    align-items: center;
    text-align: center;

}


@media (max-width: 500px) {
    main {
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
    }
}
