body {
    margin: 60px auto;
    width: 40%;
}


.header {
    width: 100%;
    height: 80px;
    display: block;
    background color: navy;
    {
        
 .inner_header {
     width: 1000px:
     height: 100%;
     display:block;
     margin: 0 auto;
     background-color: red;
     }
        
 .logo_container {
    height: 100%;
    display: table;
    float: left;
 }
     
.logo_container h1 {
   color: teal;
   height: 100%;
   display: table-cell;
   vertical-align: middle;
   font-size: 32px;
 }
        
 .navigation {
 float: right;
     height: 100%;
 }
        
 .navigation a {
     
  height:100%;
  display: table;
  float: left;
  padding: 0px 20px;
  }
        
        
 .navigation a li {
 display: table-cell;
 vertical-align: middle;
 height: 100%;
    color: green;
     font-size: 16px;
        }
        
        
.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
        }
        
        
a {
    text-decoration: none;
    color: #999;
}
        
a:hover {
    text-decoration: underline;
}
        
main {
    
    align-items: center;
    border-top: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5; //
}

footer {
    align-items: center;
    text-align: center;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    align-items: center;
    text-align: center;

}


@media (max-width: 500px) {
    main {
        align-items: center;
        text-align: center;
        float: none;
        width: 100%;
    }
}
